$bg: #F1654C;
$fc: #F3D5EE;

body#daybyday {
  background: $bg;

  background: $bg;
  color: $fc;

  header {
    background: $bg;
    color: #fff;

    nav#site-navigation ul li a {
      color: #fff;
    }

    .logo svg path {
      fill: #fff;
    }
  }

  .footer {
  }
}
