.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 3.75vw 5vw;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background: #fff;
  border-bottom: transparent 1px solid;
  transition: border-bottom 250ms linear, top 250ms ease-out;

  @media only screen and (min-width: $md-min-width) {
    padding: 2vw 5vw 1.75vw;
    transition: border-bottom 250ms linear, top 500ms ease-out;
  }

  @media only screen and (min-width: $xl-min-width) {
    transition: border-bottom 250ms linear, top 750ms ease-out;
  }

  &.scrolled {
    border-bottom: #ededed 1px solid;

  }

  &.nav-up {
    top: -13vw;
  }

  &.nav-down {
    top: 0;
  }

  .logo {
	  display: none;

    @media only screen and (min-width: $md-min-width) {
      display: block;
      width: 9vw;
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}
