.header {
  position: absolute;
  top: 0;
  left: 8vw;
  right: 8vw;
  height: 10vw;
  z-index: 99;

  @media only screen and (min-width:$sm-min-width) {
    left: 4vw;
    right: 4vw;
    top: 40px;
  }
  @media only screen and (min-width:$xl-min-width) {
    width: 1288px;
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  .logo {
    position: absolute;
    top: 0;
    display: none;

    @media only screen and (min-width:$sm-min-width) {
      display: block;
      left: 0;
      right: auto;
    }
  }

  .email {
    position: absolute;
    top: 0;
    left: 0;

    @media only screen and (min-width:$sm-min-width) {
      display: block;
      right: 0;
      left: auto;
    }
  }
}
