.main {

  margin-top: 15vw;

  @media only screen and (min-width: $md-min-width) {
    margin-top: 9vw;
  }

  #power-statement {
    h1 {
      font-size: 13.75vw;
      margin: 30vw 7.5vw 30vw 10.5vw;

      @media only screen and (min-width: $md-min-width) {
        text-align: center;
        font-size: 7vw;
        line-height: 1;
        margin: 20vw 0 20vw;
      }
    }
  }

  .section {
    header {
      h4 {
        font-size: 7vw;
        text-align: center;

        @media only screen and (min-width: $md-min-width) {
          font-size: 2vw;
        }
      }
    }
  }

  .project-links {
    overflow: hidden;

    a.project-link {

      display: block;
      margin: 0 -10vw 2.5vw;
      padding: 0;

      @media only screen and (min-width: $md-min-width) {
        margin: 0 0 2.5vw;
        width: 100%;
      }

      img, video {
        display: block;
        margin: 0;
        padding: 0;
      }
    }
  }

  #who-we-are {
    padding: 5vw 7.5vw;
    h1, p {
      font-size: 8vw;
      font-family: $font-gt-super;

      @media only screen and (min-width: $md-min-width) {
        font-size: 5vw;
      }
    }
  }

  #what-we-do, #our-clients {
    background: #000;
    color: #fff;
    padding: 15vw 7.5vw;
    text-align: center;

    @media only screen and (min-width: $md-min-width) {
      text-align: left;
      width: 100vw;
      margin: 0 -5vw;
      padding: 7.5vw 12.5vw;
    }

    h1 {
      font-family: $font-gt-america;
      font-size: 4vw;

      @media only screen and (min-width: $md-min-width) {
        font-size: 1.5vw;
      }
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 6vw 0 0;
      font-size: 6vw;
      line-height: 1.4;


      @media only screen and (min-width: $md-min-width) {
        margin: 3vw 0 0;
        font-size: 2.67vw;
        column-count: 2;
      }
    }
  }

  #quotes-about-us {
    font-family: $font-gt-super;
    position: relative;

    @media only screen and (min-width: $md-min-width) {
      margin: 0 -5vw;
      width: 100vw;
    }

    h1 {
      display: none;
    }
    .quotes {
      font-size: 6vw;

      @media only screen and (min-width: $md-min-width) {
        font-size: 3.83vw;
      }

      .author {
        margin-top: 5vw;
      }
    }

    .slick-slider {
      padding: 0;
      margin: 0;

      .slick-track {
        display: flex;
        align-items: center;
      }

      .slick-slide {
        padding: 7.5vw 12.5vw;
      }
      .slick-arrow {

      }
      .slick-dots {
        position: static;
        padding-bottom: 5vw;
      }
    }
    .slick-navigation {
      display: none;

      @media only screen and (min-width: $md-min-width) {
        position: absolute;
        top: calc( 50% - 3vw);
        left: 5vw;
        right: 5vw;
        width: 90vw;
        z-index: 99;
        display: block;
      }

      .arrow {
        width: 1.2vw;
        position: absolute;

        &.prev {
          left: 0;
        }
        &.next {
          right: 0;
        }
      }
    }
  }

  #our-team {
    padding: 5vw 7.5vw;

    header h1 {
      display: none;
    }

    .power-statement {
      font-family: $font-gt-super;
      font-size: 8vw;
      margin: 10vw 0 0;
      padding: 0;

      @media only screen and (min-width: $md-min-width) {
          font-size: 5vw;
          margin: 7.5vw 0 0;
      }
    }

    .founders, .team {
      margin-top: 5vw;
      h2 {
        font-size: 5vw;
        margin: 0;

        @media only screen and (min-width: $md-min-width) {
          font-size: 2vw;
        }
      }

      .founding-partners, .team-members {

        @media only screen and (min-width: $md-min-width) {
          display: flex;
          flex-wrap: wrap;
        }

        .partner, .team-member {
          margin: 10vw 0 5vw;

          @media only screen and (min-width: $md-min-width) {
            margin: 3vw 0 2vw;
            width: 48%;
          }

          &:nth-of-type(2n) {
            @media only screen and (min-width: $md-min-width) {
              margin-left: 4%;
            }
          }
          h3, .bio {
            margin: 5vw 0 0;
            font-family: $font-gt-super;

            @media only screen and (min-width: $md-min-width) {
              margin: 3vw 0 0;
            }
          }
          h3 {
            font-size: 5vw;
            @media only screen and (min-width: $md-min-width) {
              font-size: 2vw;
            }
          }
          .bio {
            line-height: 1.4;
          }
        }
      }
    }
  }

  .category-title {
    text-align: center;
    margin: 20vw 0;
  }

  .category-projects {
    .project {
      margin: 20vw 0;

      &:first-of-type {
        margin-top: 0;
      }
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

.project {
  header {
    .header-info {
      margin: 5vw 7.5vw;

      @media only screen and (min-width: $md-min-width) {
        display: flex;
        flex-direction: row;
      }

      h1 {
        font-family: $font-gt-america;
        line-height: 1;

        @media only screen and (min-width: $md-min-width) {
          font-size: 3.8vw;
          margin: 0;
          width: 28.7vw;
        }
      }

      ul.categories {
        list-style: none;
        margin: 5vw 0;
        padding: 0;
        line-height: 1.4;

        @media only screen and (min-width: $md-min-width) {
          margin: 2vw 0 0;
          width: 28.7vw;
        }

        a:hover {
          text-decoration: underline;
        }
      }

      .info {
        line-height: 1.4;

        @media only screen and (min-width: $md-min-width) {
          width: 44.16vw;
          margin-left: 1.67vw;
        }

        .team {
          margin-top: 5vw;
          @media only screen and (min-width: $md-min-width) {
            margin-top: 1.67vw;
            display: flex;
            flex-direction: row;
          }

          > div {
            display: inline;
            margin-right: 1.5vw;

            @media only screen and (min-width: $md-min-width) {
              display: block;
              margin-right: 0.5vw;
            }

            .member {
              white-space: nowrap;
            }
          }
        }
      }
    }
  }
  .project-samples {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .project-sample {
      width: 100%;
      margin-bottom: 2vw;

      video, img {
        display: block;
        width: 100%;
        max-width: 100%;
        height: auto;
      }

      .video-website {
        background: #e6e6e6;
        padding: 5vw 10vw;
      }
    }
  }

  &#tradiies {
    .project-sample {
      &:nth-of-type(1),
      &:nth-of-type(2),
      &:nth-of-type(4),
      &:nth-of-type(5),
      &:nth-of-type(7),
      &:nth-of-type(8) {
        width: calc(50% - 1vw);
      }
    }
  }
  &#wdypb {
    .project-sample {
      &:nth-of-type(2),
      &:nth-of-type(3) {
        width: calc(50% - 1vw);
      }
    }
  }
  &#essieGifs {
    .project-sample {
      &:nth-of-type(1),
      &:nth-of-type(2),
      &:nth-of-type(6),
      &:nth-of-type(7),
      &:nth-of-type(11),
      &:nth-of-type(12) {
        width: calc(50% - 1vw);
      }
      &:nth-of-type(3),
      &:nth-of-type(4),
      &:nth-of-type(5),
      &:nth-of-type(8),
      &:nth-of-type(9),
      &:nth-of-type(10) {
        width: calc(33.34% - 1.5vw);
      }
    }
  }
  &#mirra {
    .project-sample {
      &:nth-of-type(3),
      &:nth-of-type(4),
      &:nth-of-type(9),
      &:nth-of-type(10) {
        width: calc(50% - 1vw);
      }
      &:nth-of-type(6),
      &:nth-of-type(7),
      &:nth-of-type(8) {
        width: calc(33.34% - 1.5vw);
      }
    }
  }
  &#essieVideos {
    .project-sample {
      &:nth-of-type(2),
      &:nth-of-type(3),
      &:nth-of-type(5),
      &:nth-of-type(6),
      &:nth-of-type(7),
      &:nth-of-type(8) {
        width: calc(50% - 1vw);
      }
    }
  }
  &#sked {
    .project-sample {
      &:nth-of-type(1),
      &:nth-of-type(2) {
        width: calc(50% - 1vw);
      }
    }
  }
  &#leanstartup {
    .project-sample {
      &:nth-of-type(1),
      &:nth-of-type(2),
      &:nth-of-type(3),
      &:nth-of-type(4) {
        width: calc(25% - 1.5vw);
      }

      &:nth-of-type(6),
      &:nth-of-type(7),
      &:nth-of-type(10),
      &:nth-of-type(11) {
        width: calc(50% - 1vw);
      }
    }
  }
  &#clarity {
    .project-sample {
      &:nth-of-type(1),
      &:nth-of-type(2),
      &:nth-of-type(4),
      &:nth-of-type(5) {
        width: calc(50% - 1vw);
      }
    }
  }
  &#curious {
    .project-sample {
      &:nth-of-type(1),
      &:nth-of-type(2),
      &:nth-of-type(3),
      &:nth-of-type(4),
      &:nth-of-type(6),
      &:nth-of-type(7) {
        width: calc(50% - 1vw);
      }
    }
  }
  &#ship {
    .project-sample {
      &:nth-of-type(2),
      &:nth-of-type(3),
      &:nth-of-type(5),
      &:nth-of-type(6) {
        width: calc(50% - 1vw);
      }

      &:nth-of-type(7),
      &:nth-of-type(8),
      &:nth-of-type(9),
      &:nth-of-type(11),
      &:nth-of-type(12),
      &:nth-of-type(13) {
        width: calc(33.34% - 1.5vw);
      }
    }
  }
  &#bustle {
    .project-sample {
      &:nth-of-type(3),
      &:nth-of-type(4) {
        width: calc(50% - 1vw);
      }
    }
  }
  &#theOmg {
    .project-sample {
      &:nth-of-type(1),
      &:nth-of-type(2) {
        width: calc(50% - 1vw);
      }
    }
  }
}
