#our-process {
  background: #000;
  color: #fff;

  header {
    background: #000;
    color: #fff;

    nav#site-navigation {
      a, ul li a {
        color: #fff;

        &.active {
          border-color: #fff;
        }
      }
    }

    .logo svg path {
      fill: #fff;
    }

    button.menu-toggle {
      color: #fff;
    }
  }

  .footer {
    color: #fff;
  }

  main.main {
    header {
      h1 {
        line-height: 1;
        margin: 10vw 7.5vw;
        font-size: 16vw;
        font-family: $font-gt-super;
        font-weight: normal;
        @media only screen and (min-width: $md-min-width) {
          font-size: 7.67vw;
          margin: 5vw 0 5vw;
        }
      }
    }
    .statement, h1 {
      line-height: 1;
      font-size: 12vw;
      font-family: $font-gt-super;
      font-weight: normal;

      @media only screen and (min-width: $md-min-width) {
        font-size: 6.6vw;
      }

      &.statement {
        display: none;
        @media only screen and (min-width: $md-min-width) {
          display: block;
        }
      }
    }

    h2, p {
      font-family: $font-gt-america;
      font-size: 5vw;
      @media only screen and (min-width: $md-min-width) {
        font-size: 1.5vw;
      }
    }
    h2 {
      font-weight: bold;
    }

    a {
      color: #fff;
      border-bottom: 1px solid #fff;

      &.button {
        background: #fff;
        color: #000;
        border: none;
        padding: 5vw 2vw;
        border-radius: 0;
        margin-top: 10vw;
        display: block;
        text-align: center;

        @media only screen and (min-width: $md-min-width) {
          padding: 1.75vw 2vw;
          margin-top: 2vw;
          display: inline-block;
        }

        &:hover {
          color: #fff;
          background: #111;
        }
      }
    }

    .row {

      @media only screen and (min-width: $md-min-width) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      &#cta {
        @media only screen and (min-width: $md-min-width) {
          margin-top: 5vw;
        }
        .column {
          width: 100%;
        }
        h1 {
          margin: 10vw 20vw 0 7.5vw;
          @media only screen and (min-width: $md-min-width) {
            margin: -5vw 0 0;
            text-align: center;
          }
        }
        section {

          @media only screen and (min-width: $md-min-width) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 5vw 7.5vw 5vw;
          }
        }
        p {
          display: inline-block;
        }
        .button {

          @media only screen and (min-width: $md-min-width) {
            margin: 0 0 0 5vw;
          }
        }
      }

      .column {
        @media only screen and (min-width: $md-min-width) {
          display: flex;
          flex-direction: column;
          margin-bottom: 5vw;
        }
        section {
          margin: 15vw 7.5vw 15vw 7.5vw;
          @media only screen and (min-width: $md-min-width) {
            margin: 0 5vw 5vw 7.5vw;
          }
        }
      }
      &:nth-child(1) {
        @media only screen and (min-width: $md-min-width) {
          flex-direction: row-reverse;
        }
        .column {
          &:nth-child(2) {
            @media only screen and (min-width: $md-min-width) {
              width: 45%;
            }
          }
          &:nth-child(1) {
            @media only screen and (min-width: $md-min-width) {
              width: 50%;
            }
            .animation {
              @media only screen and (min-width: $md-min-width) {
                margin-top: 13vw;
              }
            }
            .statement {
              @media only screen and (min-width: $md-min-width) {
                margin-top: 15vw;
              }
            }
          }
        }
      }
      &:nth-child(2) {
        .column {
          &:nth-child(1) {

            @media only screen and (min-width: $md-min-width) {
              width: 50%;
            }
            .animation {
              @media only screen and (min-width: $md-min-width) {
                margin-top: -1vw;
              }
            }
            .statement {
              @media only screen and (min-width: $md-min-width) {
                margin-top: 17vw;
                margin-left: auto;
              }
            }
          }
          &:nth-child(2) {
            @media only screen and (min-width: $md-min-width) {
              width: 45%;
              margin-top: -25vw;
            }
          }

          section {
            @media only screen and (min-width: $md-min-width) {
              margin: 0 7.5vw 5vw 5vw;
            }
          }
        }
      }
      &:nth-child(3) {
        @media only screen and (min-width: $md-min-width) {
          flex-direction: row-reverse;
        }
        .column {
          &:nth-child(2) {
            @media only screen and (min-width: $md-min-width) {
              width: 45%;
              margin-top: -10vw;
            }
          }
          &:nth-child(1) {
            @media only screen and (min-width: $md-min-width) {
              width: 50%;
              margin-top: 0;
            }
            .animation {
              @media only screen and (min-width: $md-min-width) {
                margin-top: 0;
              }
            }
          }
        }
      }
    }
  }
}
