#our-process {
  background: #000;
  color: #fff;

  header {
    background: #000;
    color: #fff;

    nav#site-navigation {
      a, ul li a {
        color: #fff;

        &.active {
          border-color: #fff;
        }
      }
    }

    .logo svg path {
      fill: #fff;
    }

    button.menu-toggle {
      color: #fff;
    }
  }

  .footer {
    color: #fff;
  }

  main.main {
    h1 {
      margin: 10vw 7.5vw;
      font-size: 16vw;
      font-family: $font-gt-super;
      font-weight: normal;
      @media only screen and (min-width: $md-min-width) {
        font-size: 7.67vw;
        margin: 5vw 0 5vw;
      }
    }
    .statement {
      font-size: 6.85vw;
      font-family: $font-gt-super;
      font-weight: normal;
      display: none;

      @media only screen and (min-width: $md-min-width) {
        display: block;
      }
    }

    h2, p {
      font-family: $font-gt-america;
      font-size: 5vw;
      @media only screen and (min-width: $md-min-width) {
        font-size: 1.5vw;
      }
    }
    h2 {
      font-weight: bold;
    }

    a {
      color: #fff;
      border-bottom: 1px solid #fff;

      &.button {
        background: #fff;
        color: #000;
        border: none;
        padding: 5vw 2vw;
        border-radius: 0;
        margin-top: 10vw;
        display: block;
        text-align: center;

        @media only screen and (min-width: $md-min-width) {
          padding: 1.75vw 2vw;
          margin-top: 2vw;
        }

        &:hover {
          color: #fff;
          background: #111;
        }
      }
    }

    .row {

      @media only screen and (min-width: $md-min-width) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      .column {
        @media only screen and (min-width: $md-min-width) {
          display: flex;
          flex-direction: column;
          margin-bottom: 5vw;
        }
        section {
          margin: 15vw 7.5vw 15vw 7.5vw;
          @media only screen and (min-width: $md-min-width) {
            margin: 0 5vw 5vw 7.5vw;
          }
        }
      }
      &:nth-of-type(1) {
        @media only screen and (min-width: $md-min-width) {
          flex-direction: row-reverse;
        }
        .column {
          &:nth-of-type(2) {
            @media only screen and (min-width: $md-min-width) {
              width: 45%;
            }
          }
          &:nth-of-type(1) {
            @media only screen and (min-width: $md-min-width) {
              width: 50%;
            }
            .animation {
              @media only screen and (min-width: $md-min-width) {
                margin-top: 13vw;
              }
            }
            .statement {
              @media only screen and (min-width: $md-min-width) {
                margin-top: 20vw;
              }
            }
          }
        }
      }
      &:nth-of-type(2) {
        .column {
          &:nth-of-type(1) {

            @media only screen and (min-width: $md-min-width) {
              width: 50%;
            }
            .animation {
              @media only screen and (min-width: $md-min-width) {
                margin-top: -1vw;
              }
            }
            .statement {
              @media only screen and (min-width: $md-min-width) {
                margin-top: 10vw;
                width: 90%;
                margin-left: auto;
              }
            }
          }
          &:nth-of-type(2) {
            @media only screen and (min-width: $md-min-width) {
              width: 45%;
            }
          }

          section {
            @media only screen and (min-width: $md-min-width) {
              margin: 0 7.5vw 5vw 5vw;
            }
          }
        }
      }
      &:nth-of-type(3) {
        @media only screen and (min-width: $md-min-width) {
          flex-direction: row-reverse;
        }
        .column {
          &:nth-of-type(2) {
            @media only screen and (min-width: $md-min-width) {
              width: 45%;
            }
          }
          &:nth-of-type(1) {
            @media only screen and (min-width: $md-min-width) {
              width: 50%;
            }
            .animation {
              @media only screen and (min-width: $md-min-width) {
                margin-top: 0;
              }
            }
          }
        }
      }
    }
  }
}
