#podcast, #podcast-episode, #podcast-shirt {
  background: #000;
  color: rgb(220, 220, 220);

  &#podcast-shirt {
    header.header {
      background: #000;
    }
  }

  &#podcast-episode {
    background: #6300FF;

    header.header {
      background: #6300FF;
    }
    .podcast-main {
      background: #000;
      padding-top: 1px;

      @media only screen and (min-width: $md-min-width) {
        padding-top: 10vw;
      }
    }

    .episode-details {
      width: 85%;
      margin: 25vw auto 10vw;
      color: #fff;

      @media only screen and (min-width: $md-min-width) {
        width: 65%;
        margin: 15vw auto 10vw;
      }

      a {
        color: #e1ff66;
      }

      .description {
        margin: 15vw auto 20vw;
        width: 100%;

        @media only screen and (min-width: $md-min-width) {
          width: 70%;
          margin: 5vw auto;
        }
      }
      .player {
        width: 100%;
        margin: 5vw auto;

        @media only screen and (min-width: $md-min-width) {
          width: 69%;
          margin: 5vw auto 0;
        }
      }
      .hero {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;

        @media only screen and (min-width: $md-min-width) {
          flex-direction: row;
          justify-content: center;
          align-items: center;
        }

        .content {


          @media only screen and (min-width: $md-min-width) {
            width: 50%;
            padding-right: 5vw;
          }

          h1 {
            font-family: $font-gt-america;
            font-weight: bold;
            color: #E1FF66;
            font-size: 8vw;
            line-height: 1.1;
            margin-bottom: 2.5vw;

            @media only screen and (min-width: $md-min-width) {
              font-size: 3.67vw;
              margin-top: 0;
              margin-bottom: 1vw;
            }
          }

          .guests {

          }

          .subscribe {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            @media only screen and (min-width: $md-min-width) {
            }

            .button {
              display: inline-block;
              width: 48%;
              margin-top: 15vw;

              @media only screen and (min-width: $md-min-width) {
                margin-top: 2.5vw;
              }
            }
          }


        }

        .image {

          @media only screen and (min-width: $md-min-width) {
            width: 50%;
          }
        }
      }
    }
  }

  .site-container {


    @media only screen and (min-width: $md-min-width) {
      margin-left: 0;
      margin-right: 0;
      width: 100%;


    }

    .footer {

      margin-top: 0;

      @media only screen and (min-width: $md-min-width) {
        margin-left: 0;
        margin-right: 0;
      }
    }


  }

  header.header {
    background: transparent;
    color: #fff;

    &.scrolled {
      background: #000;
    }

    nav#site-navigation {
      a, ul li a {
        color: #fff;

        &.active {
          border-color: #fff;
        }
      }
    }

    .logo svg path {
      fill: #fff;
    }

    button.menu-toggle {
      color: #fff;
    }
  }

  .footer {
    color: #fff;
  }

  main.main {

    margin-top: 0;


    .podcast-main {
      background-image: url('/assets/media/podcast/bg-horizontal.png');
      background-repeat: no-repeat;
      background-size: 200% auto;
      background-position: center top;
      padding-top: 15vw;

      @media only screen and (min-width: $md-min-width) {
        padding-top: 9vw;
      }

      @media only screen and (min-width: $md-min-width) {
        background-size: 100% auto;
      }

      & > .inner-wrapper {
        width: 85%;
        margin-left: 7.5%;
        margin-right: 7.5%;
        @media only screen and (min-width: $md-min-width) {
          width: 45%;
          margin-left: auto;
          margin-right: auto;
        }

        h3 {
          font-family: $font-gt-america;
        }

        a {
          color: rgb(220, 220, 220);
          border-bottom: 1px solid rgb(220, 220, 220);

          &.button {
            background: #fff;
            color: #000;
            border: none;
            padding: 5vw 2vw;
            border-radius: 0;
            margin-top: 10vw;
            display: block;
            text-align: center;

            @media only screen and (min-width: $md-min-width) {
              padding: 1.75vw 2vw;
              margin-top: 2vw;
              display: inline-block;
            }

            &:hover {
              color: #fff;
              background: #111;
            }
          }
        }

        .podcast-logo {
          width: 90%;
          margin: 20vw 5%;

          @media only screen and (min-width: $md-min-width) {
            width: calc( 100% + 5vw );
            margin: 0 -2.5vw;
          }
        }

        .subscribe {
          margin-top: 7vw;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          @media only screen and (min-width: $md-min-width) {
            flex-direction: row;
            justify-content: center;
          }

          .button {
            width: 48%;

            @media only screen and (min-width: $md-min-width) {
              width: 30%;
            }

            &:first-of-type {
              @media only screen and (min-width: $md-min-width) {
                margin-right: 2.5vw;
              }
            }

            img {
              display: block;
            }
          }

          a {
            border: none;
            text-decoration: none;
          }
        }

        .about {
          margin-top: 10vw;
          margin-left: auto;
          margin-right: auto;

          @media only screen and (min-width: $md-min-width) {
            margin-top: 5vw;
            width: auto;
          }

          .hosts {
            text-align: center;
            margin-top: 15vw;
            @media only screen and (min-width: $md-min-width) {
              text-align: left;
              margin-top: 5vw;
              display: flex;
              flex-direction: row;
              align-items: center;
            }
            .image {
              width: 50vw;
              margin-bottom: 5vw;
              margin-left: auto;
              margin-right: auto;

              @media only screen and (min-width: $md-min-width) {
                width: 8vw;
                margin-left: 0;
                margin-right: 2.5vw;
                margin-bottom: auto;
              }
              img {
                display: block;
                border-radius: 50%;
              }
            }
          }
        }

        .podcast-episode-list {
          margin-top: 20vw;
          padding-bottom: 30vw;

          @media only screen and (min-width: $md-min-width) {
            margin-top: 10vw;
            padding-bottom: 10vw;
          }

          .episode {
            margin-top: 15vw;
            display: block;
            border: none;
            cursor: pointer;

            @media only screen and (min-width: $md-min-width) {
              margin-top: 4.167vw;
            }

            .title {
              font-weight: bold;
              border-bottom: 1px solid #E1FF66;
              display: inline;
              line-height: 1.4;

              @media only screen and (min-width: $md-min-width) {
                display: inline-block;
              }
            }

            .summary {
              margin-top: 3vw;
              margin-bottom: 2vw;
              @media only screen and (min-width: $md-min-width) {
                margin-top: 1vw;
                margin-bottom: 0.5vw;
              }
            }

            .meta {
              color: #6300FF;
              font-style: italic;
              font-weight: 500;
            }
          }
        }
      }
    }
  }

  .podcast-shirt {
    display: block;

    @media only screen and (min-width: $md-min-width) {
      display: flex;
      flex-direction: row;
    }

    > div {

      @media only screen and (min-width: $md-min-width) {
        width: 50%;
      }

      &.title {
        background: #E1FF66;
        color: #000;
        padding: 20vw 10vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @media only screen and (min-width: $md-min-width) {
          padding: 15vw 10vw;
        }

        h1 {
          margin: 0;
          font-size: 16vw;
          @media only screen and (min-width: $md-min-width) {
            font-size: 6vw;
          }
        }
      }

      &.shirt {
        background: #fff;
        color: #000;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20vw 0 30vw;

        @media only screen and (min-width: $md-min-width) {
          padding: 2.5vw 0;
        }
        .image {
          width: 80%;
          @media only screen and (min-width: $md-min-width) {
            width: 60%
          }
          .caption {
            font-size: 3vw;
            color: #666;
            text-align: center;
            margin: -5vw 0 10vw;
            font-style: italic;
            @media only screen and (min-width: $md-min-width) {
              font-size: 1.2vw;
              margin: -2.5vw 0 2.5vw;
            }
          }
        }

        .paypal-stuff {
          width: 60%;
          @media only screen and (min-width: $md-min-width) {
            width: auto;
          }
          form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            @media only screen and (min-width: $md-min-width) {
              width: auto;
              flex-direction: row;
            }
          }

          input, select {
            width: auto;
            display: block;
            border: 0.7vw solid #000;
            border-radius: 0;
            -webkit-border-radius: 0;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background: #fff;
            width: 100%;
            padding: 2vw 4vw;
            @media only screen and (min-width: $md-min-width) {
              width: auto;
              border: 0.25vw solid #000;
              padding: 1vw 2vw;
            }
          }
          select {
            background-image: url("/assets/media/podcast/down-arrow.png");
            background-repeat: no-repeat;
            background-position: 95% center;
            background-size: auto 30%;
            margin-bottom: 5vw;
            @media only screen and (min-width: $md-min-width) {
              background-position: 85% center;
              background-size: auto 25%;
              margin-bottom: 0;
              margin-right: 2.5vw;
            }
          }
        }
      }
    }
  }
}
