body#startups {
  section {
    padding: 15vw 7.5vw;

    @media only screen and (min-width: $md-min-width) {
      padding: 10vw 7.5vw;
    }

    h1, h2 {
      font-size: 7vw;
      font-family: $font-gt-america;
      margin-bottom: 10vw;

      @media only screen and (min-width: $md-min-width) {
        font-size: 2.67vw;
      }
    }

    &#startup-intro {
      padding: 20vw 7.5vw;
      background-image: url('/assets/media/startups-header-bg.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;

      @media only screen and (min-width: $md-min-width) {
        background-size: 40% 100%;
        padding: 10vw 7.5vw 12.5vw;
      }

      h1, h2 {
        font-size: 14vw;
        font-family: $font-gt-super;
        margin-bottom: 10vw;

        @media only screen and (min-width: $md-min-width) {
          font-size: 5vw;
          margin-bottom: 5vw;
        }
      }
      h1 {
        margin-top: 0;
        @media only screen and (min-width: $md-min-width) {

          padding-top: 0;

          .differentiator {
            text-align: right;
          }
        }

        span {
          display: block;
        }
      }

      .content {
        @media only screen and (min-width: $md-min-width) {
          width: 25vw;
        }
      }
    }

    &#startup-bookings {
      @media only screen and (min-width: $md-min-width) {
        padding: 0;
        margin: 0;
        position: absolute;
        top: 30vw;
        width: 30vw;
        right: 7.5vw;
      }
      .bookings {
        .booking {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          border-bottom: 1px solid #000;
          padding: 3vw 0;
          @media only screen and (min-width: $md-min-width) {
            padding: 1vw 0;
            justify-content: flex-start;
          }
          .month {
            font-size: 9vw;
            @media only screen and (min-width: $md-min-width) {
              font-size: 2.67vw;
              width: 50%;
            }
          }
          .status {
            font-size: 4vw;
            @media only screen and (min-width: $md-min-width) {
              font-size: 1.5vw;
            }
          }
        }
      }
    }

    &#startups-examples {
      padding-top: 0;
      @media only screen and (min-width: $md-min-width) {
        padding-top: 10vw;
      }
      .startups-examples {

        @media only screen and (min-width: $md-min-width) {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
        }

        .project {
          margin-bottom: 10vw;

          @media only screen and (min-width: $md-min-width) {
            width: 49%;
            font-size: 1.167vw;
            margin-bottom: 2vw;
          }

          .project-link {

          }
          .project-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 5vw 0 2vw;
            border-bottom: 1px solid #000;

            @media only screen and (min-width: $md-min-width) {
              padding: 2vw 0 0.5vw;
            }

            h2 {
              font-size: 5vw;
              line-height: 1;
              margin: 0;
              @media only screen and (min-width: $md-min-width) {
                font-size: 1.167vw;
              }
            }

            .view-project {
              font-size: 5vw;
              line-height: 1;
              @media only screen and (min-width: $md-min-width) {
                font-size: 1.167vw;
              }

              &:after {
                content: '+';
              }
            }
          }



          .summary {

          }
        }
      }
    }
    &#startup-application {
      padding-top: 0;

      .titles {
        display: flex;
        flex-direction: column-reverse;
        @media only screen and (min-width: $md-min-width) {
          flex-direction: column;
        }
      }

      h1 {
        @media only screen and (min-width: $md-min-width) {
          margin-top: 0;
        }
      }

      h2 {
        font-family: $font-gt-super;
        font-size: 15vw;
        margin-top: 0;
        @media only screen and (min-width: $md-min-width) {
          padding-top: 0;
          width: 60vw;
          margin-left: auto;
          margin-right: auto;
          font-size: 5vw;
          margin-bottom: 5vw;
        }
      }

      form {
        @media only screen and (min-width: $md-min-width) {
          width: 60vw;
          margin-left: auto;
          margin-right: auto;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
        }

        > div {
          @media only screen and (min-width: $md-min-width) {

            width: 100%;

            &:nth-of-type(1),
            &:nth-of-type(2),
            &:nth-of-type(3),
            &:nth-of-type(4) {
              width: 48%;
            }
          }
        }


        label {
          display: block;
          margin-bottom: 3vw;

          @media only screen and (min-width: $md-min-width) {
            margin-bottom: 1vw;
          }

        }
        input, textarea {
          border-radius: 0;
          display: block;
          border: 1px solid #000;
          width: 100%;
          padding: 4vw;
          margin-bottom: 8vw;
          resize: none;

          @media only screen and (min-width: $md-min-width) {
            padding: 1vw;
            margin-bottom: 1.5vw;
          }

          &:focus {
            color: #BD10E0;
            border: 1px solid #BD10E0;
            outline: none;
          }
        }

        textarea {
          height: 35vw;
        }

        button {
          background: #000;
          border: none;
          border-radius: 0;
          color: #fff;
          outline: none;
          padding: 4vw 15vw;
          width: 100%;

          @media only screen and (min-width: $md-min-width) {
            padding: 1vw 5vw;
            width: auto;
          }

          &.disabled {
            background-color: #999999;
            color: #ededed;
          }
        }

        img {
          @media only screen and (min-width: $md-min-width) {
            width: 40%;
            display: block;

          }
        }

        .error {
          margin-top: 10vw;
          a {
            border-bottom: 1px solid #000;
          }
        }
      }


    }

    &#offerings, &#just-deck {
      background: #000;

      color: #fff;

      @media only screen and (min-width: $md-min-width) {
        margin: 0 -5vw;
        width: calc( 100% + 10vw );
        padding: 10vw 17.5vw;

      }

      &#just-deck {
        margin-top: 1vw;
        @media only screen and (min-width: $md-min-width) {
          margin-top: 0.2vw;
        }
      }

      .intro {

        margin-bottom: 10vw;
        font-size: 8vw;
        font-family: $font-gt-super;
        font-weight: 200;
        color: #fff;

        @media only screen and (min-width: $md-min-width) {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          margin-bottom: 7.5vw;
          font-size: 2.67vw;
        }

        .content {
          background: radial-gradient( circle at bottom left, #FEA9D2, #7CD3E5 );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;

          @media only screen and (min-width: $md-min-width) {
            width: 80%;
          }
        }
        .image {
          width: 80%;
          margin: 10vw auto;
          @media only screen and (min-width: $md-min-width) {
            margin: 0 0 0 2.5%;
            width: 17.5%;
          }
        }
      }
      .package {
        .title {
          font-weight: bold;
          text-transform: uppercase;
          margin-bottom: 5vw;
          @media only screen and (min-width: $md-min-width) {
            margin-bottom: 1vw;
          }

          .price {
            font-weight: normal;
          }
        }

        .branding {

        }
        .add-ons {
          @media only screen and (min-width: $md-min-width) {
            margin-top: 3vw;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
          }

          .add-on {
            margin-top: 10vw;
            @media only screen and (min-width: $md-min-width) {
              margin-top: 0;
              width: 32%;
            }
          }
        }
      }
    }
  }


  footer.footer {
    margin-top: 0;

  }
}
