$xxs-max-width: 479px;

$xs-min-width: 480px;
$xs-max-width: 767px;

$sm-min-width: 768px;
$sm-max-width: 1023px;

$md-min-width: 1024px;
$md-max-width: 1279px;

$lg-min-width: 1280px;
$lg-max-width: 1399px;

$xl-min-width: 1400px;
$xl-max-width: 1999px;

$xxl-min-width: 2000px;


/* Example media query selectors */
@media only screen and (min-width:$sm-min-width) {

}
@media only screen and (max-width:$sm-max-width) {

}
@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {

}
