* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "apercu-mono-pro", 'Helvetica Neue', Helvetica, Arial;
  font-size: 4vw;
  line-height: 5vw;
  color: #000;

  @media only screen and (min-width:$sm-min-width) {
    font-size: 1.5vw;
    line-height: 1.3;
  }
  @media only screen and (min-width:$xl-min-width) {
    font-size: 20px;
  }
}
body,html{
	min-height: 100vh;
}

a {
  color: #000;
  text-decoration: none;
  border-bottom: 2px solid transparent;

  &:hover {
    text-decoration: none;
    border-bottom: 2px solid #ab0097;
  }
}
