* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
html {
}

body {
  font-family: $font-gt-america;
  font-size: 5vw;
  font-weight: normal;
  overflow-x:hidden;

  @media only screen and (min-width: $md-min-width) {
    font-size: 1.5vw;
  }
}

h1, h2, h3, h5 {
  font-family: $font-gt-super;
  font-weight: normal;
}

h4 {
  font-weight: normal;
}

img {
  max-width: 100%;
  width: 100%;
}

video {
  width: 100%;
  max-width: 100%;
}

a {
  color: #000;
  text-decoration: none;
}

.desktop-only {
  display: none;
}

@media only screen and (min-width: $md-min-width) {
  .mobile-only {
     display: none !important;
  }
  .desktop-only {
    display: block;
  }
}
