$base : #000;

$black : #000;
$grey : #e8e8e8;
$light-grey: #ededed;


$font-gt-america: "GT-America", "Helvetica", Helvetica, system, Arial, sans-serif;
$font-gt-super: "GT-Super-Text", "Times New Roman", times, serif;
