@import url("//hello.myfonts.net/count/34e6e7");


@font-face {
  font-family: 'NewCenturySchlbkLTPro-Bd';
  src: url('/static/fonts/34E6E7_0_0.eot');
  src: url('/static/fonts/34E6E7_0_0.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/34E6E7_0_0.woff2') format('woff2'),
       url('/static/fonts/34E6E7_0_0.woff') format('woff'),
       url('/static/fonts/34E6E7_0_0.ttf') format('truetype');}


@font-face {
  font-family: 'apercu-regular';
  src: url('/static/fonts/apercu-regular.eot');
  src: url('/static/fonts/apercu-regular.eot') format('embedded-opentype'),
       url('/static/fonts/apercu-regular.woff2') format('woff2'),
       url('/static/fonts/apercu-regular.woff') format('woff'),
       url('/static/fonts/apercu-regular.ttf') format('truetype'),
       url('/static/fonts/apercu-regular.svg') format('svg');
}

@font-face {
  font-family: 'apercu-bold';
  src: url('/static/fonts/apercu-bold.eot');
  src: url('/static/fonts/apercu-bold.eot') format('embedded-opentype'),
       url('/static/fonts/apercu-bold.woff2') format('woff2'),
       url('/static/fonts/apercu-bold.woff') format('woff'),
       url('/static/fonts/apercu-bold.ttf') format('truetype'),
       url('/static/fonts/apercu-bold.svg') format('svg');
}

$bold-sans-serif: "apercu-bold", sans-serif;
$regular-sans-serif: "apercu-regular", sans-serif;

$bold-serif: 'NewCenturySchlbkLTPro-Bd', "schoolbook", Georgia, Times, "Times New Roman", serif;

$sm-width-min: 700px;
$md-width-min: 1200px;
$lg-width-min: 1500px;
$xl-width-min: 2000px;

$l6-green: #8DFFBD;
